#root {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
  }
  .navbar {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-right: 38px;
    width: auto;
    font-size: 18px;
    line-height: 24px;
    z-index: 1;
  }
  .img-div {
    height: 100px;
  }
  /*sidebar*/

  
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
.new{
  display: block!important;
  transition: all .5s ease-in;
}
.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
  
  .col-35{
    width: 500px;
  }
  .col-65{
    width: 600px;
  }
  .logo {
    width: 185px;
    height: 81.64px;
    margin-left: 380px;
    margin-top: 19px;
  }
  
  .navbar-nav {
    margin-left: 100px;
  }
  
  .nav-item {
    margin-left: 15px;
    font-size: 18px;
    margin-top: 19px;
  }
  
  /* category */
  .cat-main {
    margin-top: 74px;
  }
  
  .cat-div-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
  }
  /*Inputfieldbody*/
  .container{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: #960200;
    text-align:center;
  }
.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 200px;
    max-width: 960px;

}
.content div{
  background: #545454;
  padding: 30px;
}
.content div:nth-child(even){
  background: #000;;
}
  
  .cat-div {
    width: 375px;
    height: 250px;
    padding-right: 50px;
  }
 .img-1{
   background-image:url(./assets/MaskGroup1.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 300px;
 }
 .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.some-page-wrapper {
  margin: 15px;
  
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-family: Poppins;
font-weight: 600;
font-size: 64px;
text-align: left;
color: #960200;
}
.button1{
  width: 416px;
height: 68px;
border-radius: 9px;
background: #960200;

  }
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  
.button{
  width: 416px;
height: 68px;
border-radius: 9px;
background: #960200;

  }
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Button style */
  .ripple {
    border: none;
    border-radius: 9px;

    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #960200;
    box-shadow: 0 0 4px #999;
    outline: none;
    width: 50%;
    height: 68px;
    min-width: 300px;
    font-family: poppins;
  }
  .ripple-1{
    background-color: blueviolet;
  }

.h1{
  width: 1920px;
height: 4499px;
background: #000;
text-align: center;
  }


.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
  .feature-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    color: black;
    text-align: center;
  }
  
  .feature-img {
    border-radius: 10px;
    height: 56.8vh;
    width: 100%;
    border-bottom-right-radius: 0;
  }
  
  .feature-text {
    width: 200px;
    background-color: #960200;
    height: 55px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: black;
  }
  
  .feature-text p {
    text-align: center;
    line-height: 57px;
    color: rgb(0, 0, 0);
  }
  
  .parent {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .image2 {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .image4 {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  /* About */
  .main-about {
    margin-top: 240px;
  }
  
  .main-div {
    height: 773px;
  }
  
  .about-txt-div {
    width: 764px;
    height: 400px;
    margin-left: 100px;
    margin-top: 250px;
  }
  .shop2bg{
    background-image: url('./assets/MaskGroup1.png');
     background-size:cover;
     width: 100%;
     height: 90vh;
     background-repeat: no-repeat;
  }
  .about-img {
    height: 100%;
    width: 100%;
  }
  
  .about-text {
    font-size: 73px;
    font-weight: bold;
    color: #960200;
  }
  
  /* Available */
  .available-main {
    display: flex;
    margin-top: 152px;
  }
  
  .text-div {
    margin-left: 250px;
  }
  
  .text-div h2 {
    padding-top: 63px;
    font-size: 41px;
    color: #960200;
  }
  
  .logo-div {
    padding-left: 120px;
  }
  
  /* media Query */
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    /* body {
      background-color: red;
    } */
  
    .logo1 {
      margin-left: 10px;
      margin-top: 30px;
    }
  
    .about-txt-div {
      width: 450px;
      height: 600px;
      margin-left: 30px;
      margin-top: 60px;
      padding-right: 50px;
    }
  
    .about-text {
      font-size: 40px;
      font-weight: bold;
      color: #960200;
      width: 300px;
      margin-top: 50px;
    }
  
    .about-text-p {
      font-size: 16px !important;
      margin-top: 20px;
      width: 400px;
      height: 400px;
    }
  
    .logo-div {
      padding-left: 10px;
    }
  
    .text-div {
      margin-left: 30px;
    }
  
    .available-img {
      margin-left: 110px !important;
    }
  
    .available-img1 {
      margin-left: 5px;
      width: 250px;
      position: relative;
    }
  
    .available-image {
      width: 200px;
      height: 200px;
      margin-left: 20px;
    }
  
    .text-div h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 10px;
      font-size: 40px;
      color: #960200;
      width: 400px;
  
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* body {
      background-color: blue;
    } */
  
    .logo {
      margin-left: 50px;
      margin-top: 10px;
    }
  
    .about-txt-div {
      width: 500px;
      height: 600px;
      margin-left: 30px;
      margin-top: 60px;
      padding-right: 50px;
    }
  
    .about-text {
      font-size: 40px;
      font-weight: bold;
      color: #960200;
      width: 300px;
      margin-top: 50px;
    }
  
    .about-text-p {
      font-size: 20px !important;
      margin-top: 20px;
      width: 460px;
    }
  
    .text-div {
      margin-left: 50px;
    }
  
    .available-img {
      margin-left: 120px !important;
    }
  
    .available-img1 {
      margin-left: 5px;
      width: 250px;
      position: relative
    }
  
    .available-image {
      width: 250px;
      height: 200px;
    }
  
    .text-div h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 10px;
      font-size: 40px;
      color: #960200;
      width: 400px;
  
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* body {
      background-color: green;
    } */
  
    .logo {
      /* width: 185px; */
      /* height: 81.64px; */
      margin-left: 170px;
      margin-top: 10px;
    }
  
    .main-div {
      height: 773px;
    }
  
    .about-txt-div {
      width: 700px;
      height: 600px;
      margin-left: 30px;
      margin-top: 100px;
      padding-right: 50px;
    }
  
    .about-img {
      height: 100%;
    }
  
    .about-text {
      font-size: 50px;
      font-weight: bold;
      color: #960200;
      width: 300px;
    }
  
    .text-div {
      margin-left: 140px;
    }
  
    .available-img {
      margin-left: 210px !important;
    }
  
    .available-img1 {
      margin-left: 5px;
      width: 250px;
    }
  
    .available-image {
      width: 250px;
      height: 200px;
    }
  
    .text-div h2 {
      padding-top: 40px;
      padding-bottom: 30px;
      padding-left: 10px;
      font-size: 40px;
      color: #960200;
      width: 400px;
  
    }
  
    .info-div {
      padding-left: 50px;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* body {
      background-color: yellow;
    } */
  
    .logo {
      margin-left: 200px;
      margin-top: 19px;
    }
  
    .text-div {
      margin-left: 30px;
      width: 400px;
    }
  
    .logo-div {
      padding-left: 50px;
    }
  
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* body {
      background-color: black;
    } */
  
    .text-div h2 {
      padding-top: 69px;
      font-size: 41px;
      color: #960200;
    }
  
    .main-div {
      height: 773px;
    }
  
    .about-txt-div {
      width: 764px;
      height: 400px;
      margin-left: 100px;
    }
  
    .about-text-p {
      width: 764px;
      height: 300px;
    }
  
    .about-img {
      height: 100%;
    }
  
    .about-text {
      font-size: 73px;
      font-weight: bold;
      color: #960200;
      width: 400px;
    }
    .logo-div {
      padding-left: 70px;
    }
  }
  